#### Import required packages

In [1]:
import pandas as pd
import numpy as np

#### Read Header information

In [9]:
header = pd.read_csv(r'C:\Users\Selva\Desktop\assignment\sample.csv',nrows = 4,skiprows=[4])

In [11]:
header.head(4)

                                   Detailed Statistics Departures
Origin Airport: Adak Island                          AK: Adak (ADK)
Airline: Alaska Airlines Inc. (AS)                              NaN
Month(s): July                                                  NaN
Year(s): 2005                                                   NaN

#### Read data rows

In [12]:
data = pd.read_csv(r'C:\Users\Selva\Desktop\assignment\sample.csv',skiprows=7)

In [18]:
data = data[:data.shape[0]-1] # Ignore footer row

In [21]:
data.loc[data.shape[0]-1] # Check if last row is valid

Carrier Code                                        AS
Date (MM/DD/YYYY)                           07/31/2005
Flight Number                                      139
Tail Number                                        NaN
Destination Airport                                AKN
Scheduled departure time                         13:52
Actual departure time                            00:00
Scheduled elapsed time (Minutes)                   131
Actual elapsed time (Minutes)                        0
Departure delay (Minutes)                            0
Wheels-off time                                  00:00
Taxi-Out time (Minutes)                              0
Delay Carrier (Minutes)                              0
Delay Weather (Minutes)                              0
Delay National Aviation System (Minutes)             0
Delay Security (Minutes)                             0
Delay Late Aircraft Arrival (Minutes)                0
Name: 8, dtype: object

In [22]:
data.head(5)

,Carrier Code,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled departure time,Actual departure time,Scheduled elapsed time (Minutes),Actual elapsed time (Minutes),Departure delay (Minutes),Wheels-off time,Taxi-Out time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,AS,07/03/2005,139.0,N742AS,AKN,13:52,14:34,131.0,121.0,42.0,14:40,6.0,3.0,0.0,0.0,0.0,29.0
1,AS,07/07/2005,139.0,N730AS,AKN,13:52,14:26,131.0,123.0,34.0,14:31,5.0,26.0,0.0,0.0,0.0,0.0
2,AS,07/10/2005,139.0,N745AS,AKN,13:52,14:12,131.0,135.0,20.0,14:24,12.0,20.0,0.0,4.0,0.0,0.0
3,AS,07/14/2005,139.0,N747AS,AKN,13:52,13:41,131.0,123.0,-11.0,13:47,6.0,0.0,0.0,0.0,0.0,0.0
4,AS,07/17/2005,139.0,N746AS,AKN,13:52,13:55,131.0,120.0,3.0,14:01,6.0,0.0,0.0,0.0,0.0,0.0

In [23]:
data.dtypes

Carrier Code                                 object
Date (MM/DD/YYYY)                            object
Flight Number                               float64
Tail Number                                  object
Destination Airport                          object
Scheduled departure time                     object
Actual departure time                        object
Scheduled elapsed time (Minutes)            float64
Actual elapsed time (Minutes)               float64
Departure delay (Minutes)                   float64
Wheels-off time                              object
Taxi-Out time (Minutes)                     float64
Delay Carrier (Minutes)                     float64
Delay Weather (Minutes)                     float64
Delay National Aviation System (Minutes)    float64
Delay Security (Minutes)                    float64
Delay Late Aircraft Arrival (Minutes)       float64
dtype: object

In [24]:
# TODO - Change datatype and write insert scripts once db design in finalized